/* Center brand on mobile*/

#profpic {
    right: 50px;
    

}
@media only screen and (max-width: 768px) {
    .mynavbar .navbar-brand {
        padding: 0px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
    .mynavbar .navbar-brand>img {
        height: 100%;
        width: auto;
        padding: 7px 14px;
    }
}

/* Center background on navbar */

.mynavbar .navbar-brand {
    background: url(photos/logo.png) center / contain no-repeat;
    width: 200px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}


/* Section Breaks (for seperating sections on webpage) */

#sectionbreak {

    background-color: lightgray;

}

.boldword {

    font-size: 40px; text-align: center;
}


/* Info Breaks (to display info like current deal etc. */

#para1 { text-align: left; font-size: 40px; color: black;
}

#para2 {
    text-align: left;
    font-size: 40px;
    color: red;
}


/* Subcribe Buttons */

#button2 {
    position: absolute;
    right: 20px;
    background-color: palegreen;
    font-size: 40px;
    border-radius: 25px;
}

#button1 {
    position: absolute;
    right: 20px;
    background-color: indianred;
    font-size: 40px;
    border-radius: 25px;
}


/* LOGIN PAGE */

#loginback {
background: url("photos/muffins.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#welcome {
    text-align: center;
    color: white;
}

/* No longer using

#login {
    width: 300px;
    height: 300px;
    border: 25px;
    margin: auto;
    text-align: center;
}

*/

#blankbreak {
    height: 100px;
    width: 100%;
    width: 500px;
    height: 300px;
    border: 25px;
    background-color: transparent;
    margin: auto;
}

#inputs {
    text-align: center;
    font-size: 15pt;
}

.buttons {
    display: flex;
    justify-content: space-around;

#para2 { text-align: left; font-size: 40px; color: red;
}
/* Subcribe Buttons */

#button2 { position: absolute; right: 20px; background-color: palegreen; font-size: 40px; border-radius: 25px;

}

#button1 { position: absolute; right: 20px; background-color: indianred; font-size: 40px; border-radius: 25px;

}

#infobreak1 {

height: 200px; width: 100%;

background-image: url("photos/cookies.jpg");

background-size: 100% auto;
/* can use CSS function background-repeat: no-repeat; to NOT have image repeat across page */

/* could have OPACITY if needed here is css for it opacity: 0.5; */

}
#infobreak2 {

/* I'm no longer using this

#forgotpass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: white;
    text-align: center;
    margin: -5%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
=======
height: 200px; width: 100%;

background-image: url("photos/buns.jpg");

background-size: 100% auto;
/* can use CSS function background-repeat: no-repeat; to NOT have image repeat across page */


}
#infobreak3 {
}

#blankbreak {
    height: 50px;
    width: 100%l
}

#infobreak1 {
    height: 200px;
    width: 100%;
    background-image: url("photos/cookies.jpg");
    background-size: 100% auto;
    /* can use CSS function background-repeat: no-repeat; to NOT have image repeat across page */
    /* could have OPACITY if needed here is css for it opacity: 0.5; */
}

#infobreak2 {
    height: 200px;
    width: 100%;
    background-image: url("photos/buns.jpg");
    background-size: 100% auto;
    /* can use CSS function background-repeat: no-repeat; to NOT have image repeat across page */
}

#infobreak3 {
    height: 200px;
    width: 100%;
    background-image: url("photos/muffins.jpg");
    background-size: 100% auto;
    /* can use CSS function background-repeat: no-repeat; to NOT have image repeat across page */

height: 200px; width: 100%;

background-image: url("photos/muffins.jpg");

background-size: 100% auto;
/* can use CSS function background-repeat: no-repeat; to NOT have image repeat across page */

}

#font {

/*Name on the profile page */
font-weight: bold;

}
/*Name on the profile page */
.boldword1 {
    text-align: center;
    opacity: 0.5;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0.5;
}

#sectionbreak1 {
    text-align: center;
    background-color: lightgray;
}


/*profile page stylings*/

.profilemenu {
    font-size: 25px;
}

#profmenu {
    text-align: center;
    color: black
}

.rowsn {
    text-align: center;
    filter: alpha(opacity=60);
}

#pp {
    text-align: center;
}

/*payment page stylings*/

/* Not sure what purpose this serves


background-color: lightgray;
}
*/ 

/*profile page stylings*/


#profmenu {

    text-align: center;

}

.row {
    text-align: center;
}


#profpic {
    right: 50px;

#pay2 {
    position: absolute;
    right: 130px;
    font-size: 40px;
    border-radius: 25px;
}

#pay3 {
    position: absolute;
    right: 130px;
    font-size: 40px;

}

#pay1 { 
    position: absolute; 
    right: 130px; 
    font-size: 40px; 
    border-radius: 25px;
    }

#pay2 { 
    position: absolute; 
    right: 130px; 
    font-size: 40px; 
    border-radius: 25px;
    }
#pay3 { 
    position: absolute; 
    right: 130px; 
    font-size: 40px; 
    border-radius: 25px;
}

#i1{
   
    max-width:100%;
    max-height:100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    
}

#pay{
    border: solid 4px black;
    width: 200px;
    height: 295px;
    border-radius:25px;
    font-size:15px;
    font-weight:bold;
    position:absolute;
    top:35%;
    left:43%;
    right:57%;
    bottom:65%
}

/*padding to remove navbar overlay*/

#eatsbackground {
    height: 50px;
    width: 50px;
    background-color: blue;
    display: flex;
    flex-direction: row;
}