/* Center brand on mobile*/

@media only screen and (max-width: 768px) {
    .mynavbar .navbar-brand {
        padding: 0px;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
    .mynavbar .navbar-brand>img {
        height: 100%;
        width: auto;
        padding: 7px 14px;
    }
}

/* Center background on navbar */

.mynavbar .navbar-brand {
    background: url(photos/logo.png) center / contain no-repeat;
    width: 200px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
